<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - 404 Page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">   -->
    <link rel="stylesheet" href="../static/styles/404.css"> 
</head>
    <body>
        <form method="post">
        <!-- Header -->
        <header>
            <nav class="nav-bar">
                <div class="header-logo">
                    <a href="#" class="nav-link">ACC</a>
                </div>
            </nav>
        </header>
        <!-- Main -->
        <main>
            <div class="info-container">
                <div class="info-content">
                    <h1 class="ACCtext">Oops.. We couldnt find that page for you</h1>
                    <img src="../static/images/404.png" alt="404" width="400">
                    <h2>Looks like you're lost. Let's get you back on track.</h2>
                    <a href="{{ url_for('login') }}" class="hyperlink">Go back to homepage</a>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-content">
                    <p>&copy; 2025 Africa Cultures Connected</p>
                </div>
            </div>
        </footer>
    </body>
</html>