<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Country Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/country-profile.css') }}"> 
</head>
<body>
    <!-- Header -->
    <header>
            <nav class="nav-bar">
                <div class="header-logo">
                    <a href="{{ url_for('homepage') }}" class="nav-link">ACC</a>
                </div>
                <ul class="index-menu">
                    <li class="index-item">
                        <a href="{{ url_for('homepage') }}"  class="nav-link">
                            <img src="{{ url_for('static', filename='images/search.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-1">Search for Country</span>
                    </li>
                    <li class="index-item">
                        <a href="{{ url_for('tour_guide_search') }}" class="nav-link">
                            <img src="{{ url_for('static', filename='images/tour-guide.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-2">Search for Tour Guides</span>
                    </li>
                    <li class="index-item">
                        <a href="{{ url_for('user_settings') }}"  class="nav-link">
                            <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-3" >User Settings</span>
                    </li>
                </ul>
            </nav>
    </header>
    <!-- Main -->
    <main>
        <div class="country-container">
            <img id="country-flag" src="{{ url_for('static', filename='images/person-placeholder.jpg') }}" width="400">
            <div class="country-content">
                <h1><span class="country-name">Country</span></h1>
                <p id="country-info">Placeholder text</p>
            </div>
        </div>
        <div class="location-container">
            <h2>Explore <span class="country-name">Country</span></h2>
            <div class="location-content">
                <div class="country-map">
                    <iframe
                        id="country-map-iframe"
                        src=""
                        width="800"
                        height="600"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                <h2>What <span class="country-name">Eswatini</span> Offers</h2>
                <div class="destination-container">
                    
                    <div class="destination-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="location" width="600">
                        <h3>Sibebe Rock Climbing</h3>
                        <a href="{{ url_for('tour_booking') }}">
                            <button class="button">More</button>
                        </a>
                    </div>
                    <div class="destination-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="location" width="600">
                        <h3>Mantenga Cultural Village</h3>
                        <a href="{{ url_for('tour_booking') }}">
                            <button class="button">More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>&copy; 2025 Africa Cultures Connected</p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script/country-profile.js') }}"></script>
</body>
</html>