<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Register Account</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">  -->
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
    <body>
        <!-- Header -->
        <header>
            <nav class="nav-bar">
                <div class="header-logo">
                    <a href="#" class="nav-link">ACC</a>
                </div>
            </nav>
        </header>
        <!-- Main -->
        <main>
            <div class="login-container">
                <div class="login-content">
                    <h1>New Account Creation</h1>
                    <h2>Register an account to explore Africa's vibrant landscapes</h2>

                    <form class="login-input" id="register-form">
                        <!-- Username -->
                        <input type="text" id="username" placeholder="Enter username">
                        <!-- Password -->
                        <div class="password-container">
                            <input type="password" id="password" name="password" placeholder="Enter password">
                            <button type="button" class="toggle-password" onclick="togglePassword('password')">👁</button>
                        </div>
                        <!-- Password confirmation -->
                        <div class="password-container">
                            <input type="password" id="password-confirm" name="password-confirm" placeholder="Enter password again">
                            <button type="button" class="toggle-password" onclick="togglePassword('password-confirm')">👁</button>
                        </div>
                        <!-- Error Message-->
                        <p id="error-message" style="font-size: 0.9em;"></p>
                        <!-- Additional Details (Email, Phone number, Account Type)-->
                        <input type="email" id="email" name="email" placeholder="Enter email">
                        <input type="text" id="phone" name="phone" placeholder="Enter phone number">
                        <!-- Account Type-->
                        <div class="details-container">
                            <select name="acc-type" id="acc-type" class="acc-type">
                                <option value="" disabled selected>Select User Type</option>
                                <option value="operator">Tour Operator</option>
                                <option value="tourist">Tourist</option>
                            </select>
                        </div>
                        <button type="submit" id="register-btn" class="register-btn">Register</button>
                    </form>
                    <p id="error-message" style="color: red;"></p>
                    <p id="success-message" style="color: green;"></p>
                    <p>Already have an account? <a href="{{ url_for('login') }}"  class="hyperlink">Login here</a></p>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-content">
                    <p>&copy; 2025 Africa Cultures Connected</p>
                </div>
            </div>
        </footer>
    </body>
    <!-- <script src="{{ url_for('static', filename='script/register.js') }}"></script> -->
     <script src="../static/script/register.js"></script>
</html>