<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Tour Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour-booker.css') }}"> 
</head>
    <body>
        <!-- Header -->
        <header>
            <nav class="nav-bar">
                <div class="header-logo">
                    <a href="{{ url_for('homepage') }}" class="nav-link">ACC</a>
                </div>
                <ul class="index-menu">
                    <li class="index-item">
                        <a href="{{ url_for('tour_guide_search') }}" class="nav-link">
                            <img src="{{ url_for('static', filename='images/tour-guide.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-2">Search for Tour Guides</span>
                    </li>
                    <li class="index-item">
                        <a href="{{ url_for('user_settings') }}"  class="nav-link">
                            <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-3" >User Settings</span>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main -->
        <main>
            <div class="profile-container">
                <div class="profile-content">
                    <h2>You Are Booking for:</h2>
                    <h1 id="location-name">Lion's Den Wildlife Tours</h1>
                    <p id="location-desc">Description</p>
                    <p>Price: USD <span id="location-price">0</span></p>
                    </a>
                </div>
            </div>
            <div class="content-container">
                <div class="content">
                    <h2>Fill in The Desired Information</h2>
                    <div class="booking-container">
                        <h3>When are you planning to visit?</h3>
                        <input type="date" id="booking-date">  
                        <a class="more-btn">
                            <button id="back">Back</button>
                            <a action="{{ url_for('tour_confirm') }}"><button id="book-btn">Book Now</button></a>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-content">
                    <p>&copy; 2025 Africa Cultures Connected</p>
                </div>
            </div>
        </footer>
    </body>  
    <script src="{{ url_for('static', filename='script/tour-booker.js') }}"></script>
</html>