<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Tour Operator Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour-operator.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="nav-bar">
            <div class="header-logo">
                <a href="{{ url_for('homepage') }}" class="nav-link">ACC</a>
            </div>
            <ul class="index-menu">
                <li class="index-item">
                    <a href="{{ url_for('tour_guide_search') }}" class="nav-link">
                        <img src="{{ url_for('static', filename='images/tour-guide.png') }}" alt="search" width="30" height="30">
                    </a>
                    <span class="tooltiptext-2">Search for Tour Guides</span>
                </li>
                <li class="index-item">
                    <a href="{{ url_for('user_settings') }}" class="nav-link">
                        <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="search" width="30" height="30">
                    </a>
                    <span class="tooltiptext-3" >User Settings</span>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <div class="profile-container">
            <div class="profile-content">
                <h1 id="tour-name">Name</h1>
                <p id="expertise">Description</p>
                <p >Services Offered: <span id="services"></span></p>
            </div>
        </div>
        <div class="location-container">
            <h1>Works In:</h1>
            <div class="location-content">
                <img src="{{ url_for('static', filename='images/location.jpg') }}"alt="location" width="300">
                <div class="location-info">
                    <h3 id="location-name">Tour Name</h3>
                    <p id="location-desc">Description</p>
                    <p>Price: <span id="location-price"></span></p>
                    <p >Duration: <span id="location-duration"></span></p>
                    <a href="{{ url_for('tour_booking') }}" class="more-btn">
                        <button>More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                <h2>Discover Other Operators</h2>
                <div class="operator-container" id="operator-container">
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>&copy; 2021 Africa Cultures Connected</p>
            </div>
        </div>
    </footer>
</body>   
<script src="{{ url_for('static', filename='script/tour-operator.js') }}"></script>
</html>