<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Tour Profile</title>
    <link rel="stylesheet" href="../static/styles/tour-booking.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour-booking.css') }}">
</head>
    <body>
        <!-- Header -->
        <header>
            <nav class="nav-bar">
                <div class="header-logo">
                    <a href="{{ url_for('homepage') }}" class="nav-link">ACC</a>
                </div>
                <ul class="index-menu">
                    <li class="index-item">
                        <a href="{{ url_for('tour_guide_search') }}" class="nav-link">
                            <img src="{{ url_for('static', filename='images/tour-guide.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-2">Search for Tour Guides</span>
                    </li>
                    <li class="index-item">
                        <a href="{{ url_for('user_settings') }}"  class="nav-link">
                            <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="search" width="30" height="30">
                        </a>
                        <span class="tooltiptext-3" >User Settings</span>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main -->
        <main>
            <div class="profile-container">
                <div class="profile-content">
                    <img id="location-image" width="800" height="400">
                    <h1 id="location-name"></h1>
                    <p id="location-desc"></p>
                    <a href="{{ url_for('tour_booker') }}" class="more-btn">
                        <button>Book Now!</button>
                    </a>
                </div>
            </div>
            <div class="employees-container">
                <h1>Operators working here:</h1>
                <div class="employees-content" id="operator-list">
                    <!-- Operator info will be shown here -->
                        <p>None</p>
                     </div>
                </div>
            </div>
            <div id="location-container">
                <h2>Discover The Area</h2>
                <div id="location-map-container">
                    <p class="location-map-content">Cool</p>
                    <!-- Map will be displayed here -->
                </div>
            </div>
            
            <div class="content-container">
                <div class="content">
                    <h2>Discover Similar Locations</h2>
                    <div class="destination-container">
                        <!-- Other destinations will be here -->
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-container">
                <div class="footer-content">
                    <p>&copy; 2025 Africa Cultures Connected</p>
                </div>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='script/tour-booking.js') }}"></script>
</html>