<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACC - Tour Operator Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour-operator.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="nav-bar">
            <div class="header-logo">
                <a href="{{ url_for('homepage') }}" class="nav-link">ACC</a>
            </div>
            <ul class="index-menu">
                <li class="index-item">
                    <a href="{{ url_for('homepage') }}"  class="nav-link">
                        <img src="{{ url_for('static', filename='images/search.png') }}" alt="search" width="30" height="30">
                    </a>
                    <span class="tooltiptext-1">Search for Country</span>
                </li>
                <li class="index-item">
                    <a href="{{ url_for('tour_guide_search') }}" class="nav-link">
                        <img src="{{ url_for('static', filename='images/tour-guide.png') }}" alt="search" width="30" height="30">
                    </a>
                    <span class="tooltiptext-2">Search for Tour Guides</span>
                </li>
                <li class="index-item">
                    <a href="{{ url_for('user_settings') }}" class="nav-link">
                        <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="search" width="30" height="30">
                    </a>
                    <span class="tooltiptext-3" >User Settings</span>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <div class="profile-container">
            <img src="{{ url_for('static', filename='images/person-placeholder.jpg') }}" width="400">
            <div class="profile-content">
                <h1>Ronald Mutembe</h1>
                <p>Expertise in:</p>
                <p>wildlie, outdoors, safari</p>
                <p>Location:</p>
                <p id="location">Kenya</p>
            </div>
        </div>
        <div class="location-container">
            <h1>Works In:</h1>
            <div class="location-content">
                <img src="{{ url_for('static', filename='images/location.jpg') }}"alt="location" width="300">
                <div class="location-info">
                    <h3>Lion's Den Wildlife Tours</h3>
                    <p id="location-desc">Get close and personal with the most majestic views and see the beauty of wildlife in its natural form!</p>
                    <p id="location-price">Price: 100 000 RWF</p>
                    <p id="location-duration">Duration: 2 Hours</p>
                    <a href="{{ url_for('tour_booking') }}" class="more-btn">
                        <button>More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                <h2>Discover Similar Operators</h2>
                <div class="operator-container">
                    <div class="operator-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="kenya" width="600">
                        <h3 id="tour-name">Ronald Mutembe</h3>
                        <h3 id="tour-destination">Lion's Den Wildlife Tours</h3>
                        <p>Expertise in:</p>
                        <p id="expertise">wildlie, outdoors, safari</p>
                        <a href="{{ url_for('tour_operator') }}" class="more-btn">
                            <button>More</button>
                        </a>
                    </div>
                    <div class="operator-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="kenya" width="600">
                        <h3 id="tour-name">Ronald Mutembe</h3>
                        <h3 id="tour-destination">Lion's Den Wildlife Tours</h3>
                        <p>Expertise in:</p>
                        <p id="expertise">wildlie, outdoors, safari</p>
                        <a href="{{ url_for('tour_operator') }}" class="more-btn">
                            <button>More</button>
                        </a>
                       </div>
                    <div class="operator-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="kenya" width="600">
                        <h3 id="tour-name">Ronald Mutembe</h3>
                        <h3 id="tour-destination">Lion's Den Wildlife Tours</h3>
                        <p>Expertise in:</p>
                        <p id="expertise">wildlie, outdoors, safari</p>
                        <a href="{{ url_for('tour_operator') }}" class="more-btn">
                            <button>More</button>
                        </a>
                    </div>
                    <div class="operator-content">
                        <img src="{{ url_for('static', filename='images/location.jpg') }}" alt="kenya" width="600">
                        <h3 id="tour-name">Ronald Mutembe</h3>
                        <h3 id="tour-destination">Lion's Den Wildlife Tours</h3>
                        <p>Expertise in:</p>
                        <p id="expertise">wildlie, outdoors, safari</p>
                        <a href="{{ url_for('tour_operator') }}" class="more-btn">
                            <button>More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>&copy; 2021 Africa Cultures Connected</p>
            </div>
        </div>
    </footer>
</body>    
</html>